<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel=icon href=favicon.png sizes="16x16 32x32 48x48 64x64" type="image/png">
    <title>{{head_title}}</title>
    <meta property="og:title" content="{{head_title}}" />
    <meta property="og:description" content="{{description}}" />
    {{#if fb_og_image}}
    <meta property="og:image" content="{{fb_og_image}}" />
    {{/if}}

    <link rel="stylesheet" href="css/all.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-sortable.min.js"></script>
    <script src="js/dashboard.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-8 col-xs-8">
                <h1 id="config_title">{{title}}</h1>
                <p id="config_description">{{description}}</p>
            </div>
            {{#if avatar_url}}
                {{#if avatar_url_size}}
                <div class="col-md-4 col-xs-4">
                    <img src="{{avatar_url}}" class="img-responsive img-rounded center-block" alt="Avatar" style="width: {{avatar_url_size}}; height: {{avatar_url_size}};">
                </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="container" id="btn-container">
        <div class="row" id="os_and_target_bar">
            <div class="col-md-12 col-xs-12">
                <span class="label label-default">OS</span>
                <div class="btn-group">
                    <button id="os-menu" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="btn-os-label">Select OS</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btn-os-selection" aria-labelledby="os-menu">
                    </ul>
                </div>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

                <span class="label label-default">Target</span>
                <div class="btn-group">
                    <button id="target-menu" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="btn-target-label">Select Target</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btn-target-selection" aria-labelledby="target-menu">
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" id="filters_bar" hidden>
            <div class="col-md-1 col-xs-2">
                <span class="label label-default">Comment</span>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="btn-group filter-buttons-group">
                    <button id="comment-menu" class="btn btn-default dropdown-toggle filter-buttons" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="btn-comment-label">--</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btn-comment-selection" aria-labelledby="comment-menu">
                        <li id="comment-no"><a href="#">--</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-xs-2">
                <span class="label label-default">Web App</span>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="btn-group filter-buttons-group">
                    <button id="webapp-menu" class="btn btn-default dropdown-toggle filter-buttons" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="btn-webapp-label">--</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btn-webapp-selection" aria-labelledby="webapp-menu">
                        <li id="webapp-no"><a href="#">--</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-xs-2">
                <span class="label label-default">Browser</span>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="btn-group filter-buttons-group">
                    <button id="browser-menu" class="btn btn-default dropdown-toggle filter-buttons" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="btn-browser-label">--</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btn-browser-selection" aria-labelledby="browser-menu">
                        <li id="browser-no"><a href="#">--</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
    </br>
    <div class="container" id="result_list">
    </div>
    <footer>
        <div class="container text-center">
            {{#if footer_link}}
            <ul class="list-inline">
                {{#each footer_link}}
                    <li><a href="{{this.link}}" target="_blank"><b>{{this.name}}</b></a></li>
                {{/each}}
            </ul>
            {{/if}}
            <p>Designed and built by <a href="https://github.com/askeing" target="_blank">@askeing</a>.</p>
            <p>Star and support this project on <a href="{{url}}" target="_blank">Github</a>.
        </div>
    </footer>
</body>
</html>